.sidebar {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.sidebar li {
    display: block;
}

.sidebar i {
    font-size: 2rem;
}

.category .dropdown button {
    width: 100%;
}

.dropdown-menu.show {
    width: 100%;
}

.col-lg-3, .col-md-4, .col-sm-12 {
    padding: 12px;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px 0px;
}

.footer i {
    margin: 10px;
    font-size: 40px;
    color: white;
}

@media screen and (max-width: 768px) {
    #carouselExample {
        display: none;
    }

    .sidebar a {
        display: block;
    }
} 